@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f5558438;
}
/*header*/
.header{
    background-color: pink;
}
.logo{
    width: 135px;
}
.navbarBackground{
    background-color: pink;
}
.carrusel {
    padding: 20px;
}
/*index*/
.titulos {
    font-size: 1.6rem;
    font-weight: bold;
    color: #e25858;
}
h1 {
    font-weight: bold;
    font-size: 1.3rem;
}
h2 {
    font-size: 1.1rem;
}
.novedades__primer-parrafo {
    color: grey;
}
h3 {
    font-style: italic;
    font-size: 1rem;
}
#tortas{
    width: 350px;
    margin-bottom: 20px;
}
/*sobre mi*/
.grillaSobreMi {
    display: grid;
    grid-template-areas: 
    "intro"
    "foto";
    justify-items: center;
}
.aboutMe {
    grid-area: intro;
    justify-self: center;
    padding: 20px;
}
.picAboutMe {
    grid-area: foto;
    justify-self: center;
}
.tortaOreo {
    width: 350px;
    padding: 20px;
}
/*productos*/
.grillaProductos {
    display: grid;
    grid-template-areas: 
    "productos"
    "columnaUno"
    "columnaDos";
    justify-items: center;
}
.productos {
    grid-area: productos;
}
.fotosProductos1 {
    grid-area: columnaUno;
}
.fotosProductos2 {
    grid-area: columnaDos;
}
.tituloProductos {
    color: #e25858;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
}
.grillaProductos p {
    margin: 15px;
    font-weight: bold;
    text-align: center;
}
.grillaProductos img {
    height: 15rem;
    margin: 15px;
}
/*precios*/
.grillaPrecios {
    display: grid;
    grid-template-areas: 
    "precios"
    "fotosprecios";
    justify-items: center;
}
.precios {
    grid-area: precios;
}
.fotosPrecios {
    grid-area: fotosprecios;
}
.fotosPrecios img {
    width: 300px;
    margin-left: 40px;
    padding: 10px;
}
/*contacto*/
.grilla__contacto {
    display: grid;
    grid-template-areas: 
    "formulario"
    "map";
    justify-items: center;
}
.grilla__contacto-formulario {
    grid-area: formulario;
}
.grilla__contacto-mapa {
    grid-area: map;
}
.footer {
    padding: 3px;
    text-align: center;
}
#my__map {
    width: 300px; 
    height: 200px;
    margin: 30px;
    border: 1px solid;
}
.grilla__contacto-texto {
    text-align: justify;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 30px;
}
.grilla__contacto-formulario form{
    display: flex;
    flex-direction: column;
}
.grilla__contacto-titulo {
    color: #e25858;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
}
form input {
    width:200px;
    padding:10px;
    margin:5px;
    border:1px solid;
 }
textarea {
    width:200px;
    height: 50px;
    padding:10px;
    margin:5px;
    border:1px solid;
}
select {
    width:200px;
}
@media all and (min-width: 768px){
    .grilla__contacto {
        grid-template-areas: 
        "formulario map";
    }
    form input {
        width:300px;
    }
    textarea {
        width:300px;
        height: 100px;
    }
    select {
        width:300px;
    }
    #my__map {
        width: 390px; 
        height: 250px;
    }
    .fotosPrecios {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .fotosPrecios img {
        margin: 10px;
        margin-left: 60px;
    }
    .grillaProductos {
        grid-template-areas: 
        "productos productos"
        "columnaUno columnaDos";
    }
}
@media all and (min-width: 992px){
    body{
    background-color: #f9ab003b
    }
    .header{
    background-color: #f9ab0052;
    }
    .navbarBackground{
    background-color: #f9ab0052;
    }
    .carrusel {
    width: 650px;
    }
    .grilla__contacto {
        grid-template-areas: 
        "formulario map";
    }
    form input {
        width:300px;
    }
    textarea {
        width:300px;
        height: 100px;
    }
    select {
        width:300px;
    }
    #my__map {
        width: 600px; 
        height: 450px;
    }
    .grilla__contacto-texto {
        margin-left: 150px;
    }
    .grillaSobreMi {
        grid-template-areas:
        "intro foto";
    }
    .grillaProductos {
        grid-template-areas: 
        "productos productos"
        "columnaUno columnaDos";
    }
    .grillaProductos img {
    height: 20rem;
    }
    .fotosPrecios {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .fotosPrecios img {
        width: 600px;
        padding: 25px;
        margin-top: 40px;
        margin-left: 0;
    }
    .fotosPrecios img:hover {
        transform: scale(1.1);
    }
}