body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f5558438;
}
/*header*/
.header{
    background-color: pink;
}
.logo{
    width: 135px;
}
.navbarBackground{
    background-color: pink;
}
.carrusel {
    padding-bottom: 20px;
}
/*index*/
.titulos {
    font-size: $titulos;
    font-weight: bold;
    color: #e25858;
}
h1 {
    font-weight: bold;
    font-size: 1.3rem;
}
h2 {
    font-size: 1.1rem;
}
.novedades__primer-parrafo {
    color: grey;
}
h3 {
    font-style: italic;
    font-size: 1rem;
}
#tortas{
    width: 30%;
    margin-bottom: 20px;
}
/*sobre mi*/
.grillaSobreMi {
    @include grillas; 
    grid-template-areas: "intro" "foto";
}
.aboutMe {
    grid-area: intro;
    justify-self: center;
    padding: 20px;
}
.picAboutMe {
    grid-area: foto;
    justify-self: center;
}
.tortaOreo {
    width: 50%;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
/*productos*/
.grillaProductos {
    @include grillas; 
    grid-template-areas: "productos" "columnaUno" "columnaDos";
}
.productos {
    grid-area: productos;
}
.fotosProductos1 {
    grid-area: columnaUno;
}
.fotosProductos2 {
    grid-area: columnaDos;
}
.tituloProductos {
    color: #e25858;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
}
.grillaProductos {
  p {
    margin: 15px;
    font-weight: bold;
    text-align: center;
  }
  img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
/*precios*/
.grillaPrecios {
    @include grillas; 
    grid-template-areas: "precios" "fotosprecios";
}
.precios {
    grid-area: precios;
}
.fotosPrecios {
  grid-area: fotosprecios;
  img {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
  }
}
/*contacto*/
.grilla__contacto {
    @include grillas; 
    grid-template-areas: "formulario" "map";
}
.grilla__contacto-formulario {
    grid-area: formulario;
}
.grilla__contacto-mapa {
    grid-area: map;
}
.grilla__contacto-texto {
    text-align: justify;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 30px;
}
#my__map {
    width: $ancho+100; 
    height: 200px;
    margin: 30px;
    border: 1px solid;
}
.grilla__contacto-titulo {
    color: #e25858;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
}
form{
    display: flex;
    flex-direction: column;
    input {
    width:$ancho;
    padding:10px;
    margin:5px;
    border:1px solid;
    }
}
textarea {
    @extend input;
    height: 50px;
}
select {
    width:$ancho;
}
/*footer*/
.footer {
    padding: 3px;
    text-align: center;
}
@media all and (min-width: 768px){
    .grilla__contacto {
        grid-template-areas: "formulario map";
    }
    form {
        input, textarea {
            width:$ancho+100;
        }
    }
    textarea {
        height: 100px;
    }
    select {
        width:$ancho+100;
    }
    #my__map {
        width: 390px; 
        height: 250px;
    }
    .fotosPrecios {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .grillaProductos {
        grid-template-areas: "productos productos" "columnaUno columnaDos";
    }
}
@media all and (min-width: 992px){
    body{
    background-color: #f9ab003b
    }
    .header, .navbarBackground {
    background-color: #f9ab0052;
    }
    .titulos {
    font-size: $titulos*2;
    }
    .carrusel {
    width: 650px;
    }
    .grilla__contacto {
        grid-template-areas: "formulario map";
    }
    form {
        input, textarea {
            width: 300px;
        }
    }
    textarea {
    height: 100px;
    }
    select {
        width:300px;
    }
    #my__map {
        width: 600px; 
        height: 450px;
    }
    .grilla__contacto-texto {
        margin-left: 150px;
    }
    .grillaSobreMi {
        grid-template-areas: "intro foto";
    }
    .grillaProductos {
        grid-template-areas: "productos productos" "columnaUno columnaDos";
    }
    .fotosPrecios {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .fotosPrecios img:hover {
        transform: scale(1.1);
    }
}


            
    